<h1>Inventory Dashboard</h1>
<mat-grid-list class="components-container" cols="3" rowHeight="100px" gutterSize="25px">

    <!-- Inventory -->
    <mat-grid-tile class="component-tile">
        <button (click)="navigate('/inventory/items')" class="component-button" mat-flat-button color="primary">
      <div class="button-content">
        <fa-icon [icon]="['fas', 'boxes']" size="3x"></fa-icon>
        <h2>Items</h2>
      </div>
    </button>
    </mat-grid-tile>

    <!-- Inventory -->
    <mat-grid-tile class="component-tile">
        <button (click)="navigate('/inventory/category')" class="component-button" mat-flat-button color="primary">
      <div class="button-content">
        <fa-icon [icon]="['fas', 'tag']" size="3x"></fa-icon>
        <h2>Category</h2>
      </div>
    </button>
    </mat-grid-tile>


</mat-grid-list>