.components-container {
}

.component-tile {
  /*background-color: #3f51b5;*/
}

.component-button {
  position: relative;
  height: 100%;
  width: 100%;
}

.button-content {
  display: flex;
  /*position: relative;*/
  /*height: 100%;*/
  /*width: 100%;*/
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
