.loginForm {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  justify-content: center;
}

.loginForm > h1 {
  margin: 20px;
  justify-self: center;
  color: #3f51b5;
  font-size: 2em;
}

.loginForm > mat-error {
  margin: 20px;
  justify-self: center;
}

.loginFormField {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: center;
}

.loginFormField > fa-icon {
  color: #3f51b5;
}
