<mat-toolbar color="primary">

    <mat-toolbar-row>
        <span class="title"><a href="http://localhost:4200/">I. R. S.</a></span>
        <!--    <span class="toolbar-spacer"></span>-->
        <div class="auth-controls">
            <span class="auth-user">
        <fa-icon [icon]="['fas', 'user']"></fa-icon>
        <a>{{ username }}</a>
      </span>
            <button mat-flat-button color="" (click)="logout()">
        <fa-icon class="logout-icon" [styles]="{'color': '#000000de'}" [icon]="['fas', 'sign-out-alt']"></fa-icon>
        <span>Logout</span>
      </button>
        </div>
    </mat-toolbar-row>

</mat-toolbar>